.dashboard{
    margin-left: 28px;
    margin-top: 37px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    &-headline{
        display: flex;
        align-items: center;
        gap: 4px;
        h1{
            font-family: "Poppins-bold";
            margin-left: 4px;
        }
        p{
            color: #838383;
            font-family: "Poppins-regular";
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.1px;
            margin-top: 13px;
        }
    }
    &-menu{
        display: flex;
        flex-direction: column;
        ul{
            list-style: none;
            padding: 0px;
            display: flex;
            flex-direction: column;
            // gap: 1rem;
            li{
                display: flex;
                align-items: center;
                padding-left: 11px;
                gap: 14px;
                width: 250px;
                height: 46px;
                a{
                    text-decoration: none;
                    color: grey;
                    font-family: "Poppins-semibold";
                }
            }
            li:nth-child(2){
                svg:last-child{
                    margin-left: 6.5rem;
                }
            }
            li:nth-child(3){
                svg:last-child{
                    margin-left: 5rem;
                }
            }
            li:nth-child(4){
                svg:last-child{
                    margin-left: 6.7rem;
                }
            }
            li:nth-child(5){
                svg:last-child{
                    margin-left: 6.3rem;
                }
            }
            li:nth-child(6){
                svg:last-child{
                    margin-left: 8.3rem;
                }
            }
            li:hover{
                display: flex;
                align-items: center;
                width: 250px;
                height: 46px;
                background: #5932EA;
                border-radius: 8px;
                a{
                    color: white;
                }
                svg{
                    path{
                        stroke: white;
                    }
                }
            }
            li:nth-child(2):hover{
                svg:first-child{
                    path{
                        stroke: none;
                        fill: white;
                    }
                }
            }
            li:nth-child(3):hover{
                svg:first-child{
                    path{
                        stroke: white;
                        fill: none;
                    }
                }
            }
            li:nth-child(5):hover{
                svg:first-child{
                    path{
                        stroke: none;
                        fill: white;
                    }
                }
            }
            li:nth-child(6):hover{
                svg:first-child{
                    path{
                        stroke: none;
                        fill: white;
                    }
                }
            }
        }
    }
    &-pm_block{
        margin-top: 8rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        &-pic{
            img{
                border-radius: 280px;
                height: 32px;
            }
        }
        &-text{
            h2{
                color: #000;
                font-family: "Poppins-bold";
                font-size: 14px;
                line-height: normal;
                letter-spacing: 0.14px;            
            }
            p{
                color: #757575;
                font-family: "Poppins-regular";
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.12px;            
            }
        }
    }
}
@import url(fonts.css);